*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.orange-text{
    color: #fd6e0a;
}
.btn-primary{
    width: 220px;
    height: 60px;
    padding: 18px 35px;
    border-radius: 5px;
    background-color: #fd6e0a;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    
}
.header{
    background: #fff8f4;
    background-image: url(images/header_bg.png), url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.title{
    font-weight: 800;
    font: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.banner-pri{
    margin: 0 200px;
    display: flex;
    align-items: center;

}
.banner-sub{
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    color: #474747;
    margin-bottom: 20px;
}
.banner-title{
    font-weight: 700;
    font-size: 80px;
    line-height: 116px; 
}
.banner-des{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
/* About Section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    margin-top: 120px;
    background-color:#fff8f4 ;
    border-radius: 10px;
    padding: 130px 150px;
    
}
.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 33px;
}
.section-des{
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #755757;
    margin-bottom: 30px;
}
table{
    width: 782px;
    height: 60px;
    font-size: small;
    position: absolute;
    left: 450px;
}
.small{
    font-size: 10px;
    font-weight: 300;
    color: #755757;
    text-align: center;
}
table td{
    padding-left: 20px;
}
/* what i do */
.whatido{
    margin-top: 130px;
}
.skils-container{
    display: flex;
    gap: 25px;
}
.skills{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.09);
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    padding-top: 25px;
}
.skill-description{
    color: #757575;
    padding-top: 15px;
}
.whatido-des{
    height: 90px;
    width: 910px;
    text-align: center;
    margin: 25px auto;
}
.section-ttl{
    margin: 130px;
    text-align: center;
    font-size: 35px;
}
.resume-container{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume .title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
    
}
.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;

}
.resume .description{
    color: #757575;
}
.resume-btn{
    margin:50px ;
    text-align: center;
}
.contact{
    display: flex;
    gap: 120px;
    background-color: #fff8f4;
    padding: 130px 200px;
}

.contact .section-title{
    text-align: left;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 25px;
    border: none;
    width: 100%;
    padding: 18px 30px;
}
.contact a {
    text-decoration: none;
}
.section-desc{
    margin-bottom: 30px;
    color: #757575;
    
}
